services:
  db:
    image: postgres:18.1
    environment:
      POSTGRES_USER: program
      POSTGRES_PASSWORD: Password123
      POSTGRES_DB: chatdb
    ports:
      - "5432:5432"
    volumes:
      - ./data:/docker-entrypoint-initdb.d
  adminer:
    image: adminer
    ports:
      - 8081:8080
  service:
   image: nextap-chat:latest
   ports:
     - "8081:8081"
   environment:
     DB_host: db
     DB_name: chatdb
     DB_pass: Password123
     DB_port: 5432
     DB_user: program
     JWT_SECRET: secret
     port: 8081
   depends_on:
     - db
