services:
  db:
    image: postgres:18.1
    environment:
      POSTGRES_USER: program
      POSTGRES_PASSWORD: Password123
      POSTGRES_DB: chatdb
    ports:
      - "5432:5432"
    volumes:
      - ./data:/docker-entrypoint-initdb.d
  adminer:
    image: adminer
    ports:
      - 8081:8080